<app-navbar></app-navbar>

<div class="container">
  <h1 class="text-center">Login Form</h1>

  <form #loginForm="ngForm" (ngSubmit)="onSubmit()">
    <div class="mb-3">
      <label for="username" class="form-label">Username</label>
      <input type="text" class="form-control" id="username" name="username" [(ngModel)]="username" required>
    </div>
    <div class="mb-3">
      <label for="password" class="form-label">Password</label>
      <input type="password" class="form-control" id="password" name="password" [(ngModel)]="password" required>
    </div>
    <button type="submit" class="btn btn-primary" [disabled]="loginForm.invalid">Submit</button>
  </form>
</div>
